body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #DDA0DD;
    color: #282928;
    justify-content: center;
    grid-gap: 1.2em;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
}

.holder{

}

.entry{
    background: rgba(184, 190, 204, 0.4);
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}

.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#ce6cfc;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 7px;
}

button{
    width: 400px;
    height: 100px;
    background: #737070;
    color: #282928;
    font-size: 26px;
    border-radius: 1rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#ce6cfc;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 7px;
    
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color:white; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:white; 
    font-family: 'Oswald', sans-serif;
    font-size: large;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: wheat; 
    font-family: 'Oswald', sans-serif;

} 